.container {
  display: grid;
  height: 100vh;
  width: 95vw;
  justify-content: center;
  margin: auto;
  grid-template-columns: 60vw 25vw;
  grid-template-rows: 30vh 10vh 55vh 5vh;
  grid-gap: 1%;
  grid-template-areas:
  "hd hd"
  "nav nav"
  "section aside"
  "footer footer";

}

nav, section, footer, aside {
  border: 1px solid black;
}

header {
  grid-area: hd;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

 .blog-post {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blog-post p {
  width: 90%;
  align-self: center;
}

.blog-post a {
  align-self: center;
  margin-bottom: 2%;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

aside p {
  width: 90%;
}

.social-icons {
  width: 90%;
  text-align: center;
}

i {
  margin: 2%;
}

footer {
  grid-area: footer;
  text-align: center;
}
